@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

/* BASIC STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

html {
    font-family: montserrat;
    font-size: 10px;
    color: #120052;
    /* color: rgb(63, 63, 63); */
}

/* ! HEADER */

/* ! MAIN */

.border {
    border: 1px solid rgb(159, 87, 222);
}

section {
    background-color: rgb(231, 228, 228);
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0 0 4px black;
}

h1 {
    margin-bottom: 30px;
    font-size: 3.6rem;
    color: #120052;
    /* color: #b537f2; */
}
.user-data label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.user-data input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgb(138, 43, 227);
    height: 30px;
    margin-bottom: 15px;
    font-size: 1.4rem;
    padding-left: 10px;
}
input[type="radio"]:checked {
    accent-color: rgb(138, 43, 227);
}

.user-data input::placeholder {
    color: rgb(182, 178, 178);
    font-family: montserrat;
    font-weight: 200;
    font-size: 1.2rem;
}

#women,
#men {
    margin-right: 5px;
    margin-bottom: 15px;
}

.auswahl label {
    margin-bottom: 10px;
    font-size: 1.4rem;
}
article select,
article button {
    display: block;
    width: 100%;
    height: 25px;
    border-radius: 5px;
}

article select {
    margin-bottom: 5px;
    padding-left: 10px;
    height: 30px;
    font-size: 1.4rem;
    margin-bottom: 30px;
    font-family: montserrat;
    border: 1px solid rgb(138, 43, 227);
}

.btn {
    background-color: rgb(138, 43, 227);
    border: none;
    color: white;
    height: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 100;
    font-family: montserrat;
}
.tabelle {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "headline-table kcal kj" "grundumsatz kcal-grund kj-grund"
        "gesamtumsatz kcal-gesamt kj-gesamt";
    background-color: rgb(159, 87, 222);
    color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
}

.background {
    background-color: rgb(159, 87, 222);
}
.tabelle p {
    padding: 10px;
}

.headline-table {
    grid-area: headline-table;
    background-color: rgb(138, 43, 227);
    border-top-left-radius: 5px;
}
.kcal {
    grid-area: kcal;
    background-color: rgb(138, 43, 227);
}

.kj {
    background-color: rgb(138, 43, 227);
    grid-area: kj;
    border-top-right-radius: 5px;
}

.grundumsatz {
    grid-area: grundumsatz;
    border-top-left-radius: 5px;
}

.background-grid {
    background-color: rgb(148, 53, 236);
}
.gesamtumsatz {
    grid-area: gesamtumsatz;
    border-bottom-left-radius: 5px;
}

.kcal-grund {
    grid-area: kcal-grund;
}
.kcal-gesamt {
    grid-area: kcal-gesamt;
}
.kj-grund {
    grid-area: kj-grund;
}
.kj-gesamt {
    grid-area: kj-gesamt;
    border-bottom-right-radius: 5px;
}

/* ! FOOTER */
